# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.env
.env.*

# =========================
# Flask
# =========================
instance/
*.log

# =========================
# SQLite
# =========================
*.sqlite
*.db

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS (Windows)
# =========================
Thumbs.db
desktop.ini

# =========================
# Misc
# =========================
.DS_Store
