{% extends "base.html" %}

{% block content %}
     
    <h1>Bienvenido a Flask notes</h1>
    
    <ul>
{% for note in notes %}
    <li>
        {{ note.title }}
        <br>
        {{ note.content }}
        <a href="{{ url_for('notes.edit_note', id=note.id) }}">Editar</a>
        <form action="{{ url_for('notes.delete_note', id=note.id) }}" method="POST">
            <button type="submit">Eliminar</button>
        </form>
    </li>
{% else %}
    <li>No hay notas disponibles</li>
{% endfor %}
</ul>

<a href="{{ url_for('notes.create_note') }}">Agregar una nueva nota</a>
{% endblock content %}
     


