<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Inicio</title>
</head>
<body>
    <h1>Bienvenido a Flask notes</h1>

    <ul>
{% for note in notes %}
    <li>
        {{ note.title }}
        <br>
        {{ note.content }}
    </li>
{% else %}
    <li>No hay notas disponibles</li>
{% endfor %}
</ul>

<a href="{{ url_for('create_note') }}">Agregar una nueva nota</a>

</body>
</html>
